@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root
{
    --main-text-color: hsla(0, 0%, 100%, 0.9);
    --charcoal: hsl(198, 26%, 18%);
    --persian-green: hsl(173, 53%, 40%);
    --maize-crayola: hsla(43, 74%, 66%, 1);
    --sandy-brown: hsla(27, 87%, 67%, 1);
    --burnt-sienna: hsla(12, 76%, 61%, 1);
    --profile-icon-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    --shadow-sm: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body
{
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: clamp(240px, 25%, 280px) 1fr;
    grid-template-rows: clamp(180px, 15%, 220px) 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ; 
    min-height: 100vh;
    height: 100%;
}


h1
{
    font-size: 2rem;
}

h2
{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

h3
{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.sidebar
{
    grid-area: sidebar;
    background-color: var(--charcoal);
    display: flex;
    flex-direction: column;
}

.sidebar > .sidebar-nav, .sidebar-fill-bottom
{
    margin-top: 3rem;
}

.sidebar > .logo-container
{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
}

.sidebar > .logo-container > img
{
    max-width: 46px;
    max-height: 46px;  
}

.sidebar > * > ul > li
{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 2rem;
}

.sidebar > * > ul > li > img
{
    max-width: 24px;
    max-height: 24px;  
    margin-right: 1rem;
}

.nav
{
    grid-area: header;
    background-color: var(--persian-green);
}

.content
{
    grid-area: main;
}

.nav
{
    padding: 1rem 2rem;
    box-shadow: var(--shadow-sm);
}

.nav
{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "search-bar upper-profile"
        "lower-profile operations"
    ;
}

.nav > .search-bar
{
    grid-area: search-bar;
}

.nav > .upper-profile
{
    grid-area: upper-profile;
}

.nav > .lower-profile
{
    grid-area: lower-profile;
}

.nav > .operations
{
    grid-area: operations;
}

.search-area
{
    display: flex;
    align-items: center;
}

.search-area > img
{
    max-width: 28px;
    max-height: 28px;
    margin-right: 0.55rem;
}

.search-area > input
{
    border: 0;
    outline: 0;
    width: 100%;
    height: 35px;
    border-radius: 1.33rem;
    padding: 0 1.33rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: var(--shadow-sm);
}

.upper-profile
{
    display: flex;
    align-items: center;
    justify-content: end;
}

.upper-profile > img  
{
    max-width: 28px;
    max-height: 28px;
}

.upper-profile > *
{
    margin-right: 2rem;
}

.upper-profile > .profile-icon
{
    max-width: 48px;
    max-height: 48px;
    clip-path: var(--profile-icon-clip-path);
    
}

.lower-profile
{
    display: flex;
    align-items: center;
}

.lower-profile > .profile-icon 
{
    max-width: 72px;
    max-height: 72px;
    clip-path: var(--profile-icon-clip-path);
    margin-right: 1rem;
}

.operations
{
    display: flex;
    justify-content: end;
    align-items: center;
}

.operations > button
{
    padding: 0.8rem 1.8rem;
    border-radius: 1.33rem;
    margin-right: 1rem;
    outline: none;
    border: none;
    background-color: var(--charcoal);
    font-weight: 500;
    box-shadow: var(--shadow-sm);
    color: var(--main-text-color);
}

.lower-profile > p, .upper-profile > p
{
    font-weight: 700;
}

.lower-profile > p
{
    font-size: 1.3rem;
}

.lower-profile > p > span
{
    font-size: small;
}

main.content
{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas: 
        "projects news"
        "projects news";
    padding: 3rem 1.5rem 0 1.5rem;
    gap: 1rem;
}

.content > .projects
{
    grid-area: projects;
}

.projects > .cards
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 1rem;
}

.card
{
    display: grid;
    grid-template-rows: 1fr 60px;
    grid-template-areas: 
        "labels"
        "icons-bottom";
    background-color: var(--maize-crayola);
    padding: 1rem 1rem;
    border-radius: 0.4rem;
    box-shadow: var(--shadow-sm);
}

.card > .labels
{
    grid: labels;
}

.icons-bottom
{
    grid: icons-bottom;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
}

.icons-bottom > .card-icon
{
    max-width: 24px;
    max-height: 24px;
    margin-right: 1rem;
}

.content > .news
{
    grid-area: news;
    display: flex;
    flex-direction: column;
}

.news > * > article
{
    background-color: var(--sandy-brown);
    padding: 2rem 1.33rem;
    border-radius: 0.4rem;
    box-shadow: var(--shadow-sm);
    margin-bottom: 1rem;
    font-size: smaller;
}

.announcements > article > div > h3
{
    margin-bottom: 0;
}

.announcements > article > div
{
    margin-bottom: 0.5rem;
}

.trending > article > .social
{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.social > img.social-icon
{
    max-height: 36px;
    max-width: 36px;
    margin-right: 0.77rem;
}

.social > .labels > .tag
{
    font-weight: 700;
}

.social > .labels > .description
{
    font-weight: 300;
}